allow untrusted_app app_data_file:file open;
allow untrusted_app debugfs:file { getattr };
allow untrusted_app bluetooth_data_file:dir getattr;
allow untrusted_app mnt_media_rw_file:dir getattr;
allow untrusted_app radio_data_file:dir getattr;
allow untrusted_app rootfs:dir { open read };
allow untrusted_app rootfs:file { open read };
allow untrusted_app sysfs:file { getattr open read };
allow untrusted_app system_app_data_file:dir getattr;
allow untrusted_app system_data_file:file { getattr read };
